<div class="Home">
    <app-navbar #nav [Now]="Now" (change)="InitialCurrentMonth()"></app-navbar>

    <div class="containerGrid" [style.grid-template-rows]="'auto repeat('+numberRow+', 1fr)'">
        <div class="dayWeek" style="border-left:none ;">Mon</div>
        <div class="dayWeek">Tue</div>
        <div class="dayWeek">Wed</div>
        <div class="dayWeek">Thu</div>
        <div class="dayWeek">Fri</div>
        <div class="dayWeek">Sat</div>
        <div class="dayWeek">Sun</div>
        <app-day class="day visingCont" *ngFor="let item of CurentMonth " [Day]="item" (addEvent)="AddEvent($event)" (changeEvent)="ChangeEvent($event)" (deleteEvent)="DeleteEvent($event)">
        </app-day>
    </div>
</div>